
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}

.glyphicon {
  margin-left: 30px;
}

button {
	width: auto;
	margin: 0 auto;
}

.onlineUsers div {
	/*padding: 5px;*/
	margin-top: 20px;
}

.email {
  font-weight: bolder;
}

#contact {
  margin: 0 auto;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer > div > div {
  margin-top: 20px;
}

.logos {
	padding: 1em;
	font-size: 1.2em;
	margin: 0 auto;
	/*width: 100%;*/
}

.logos li {
		list-style-type: none;
		margin-top: 1em;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-style: italic; 
}

.logos li:first-child {
	text-transform: uppercase;
	font-weight: bold;
}

.onlineUsers img {
	margin: 0 auto;
	width: 100%;
	/*border-radius: 50px;*/
}

.onlineUsers {
	margin: 0 auto;
	width: 100%;
}

button {
  background-color: red;
  border-radius: 20px;
  font-weight: bolder;
  
}


	

